# Configuration file

~CONFIG_VERSION: 0.1.0

world-337996214 {
    # Показывать список закладок рядом с открытым интерфейсом.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false

    # Скрывать и показывать предметы в списке нажатием клавиши по ним.
    B:editEnabled=false
    S:filterText=

    # Показывать список предметов рядом с открытым интерфейсом.
    B:overlayEnabled=true
}


world-675842705 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=мате
    B:overlayEnabled=true
}


world127644227 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world573373299 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world902739456 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


